@font-face {
  font-family: "Lato Bold";
  src: local("lato-bold"), local("lato-bold"),
    url("lato-bold.eot") format("eot"), url("lato-bold.woff") format("woff"),
    url("lato-bold.woff2") format("woff2"),
    url("lato-bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Lato Regular";
  src: local("lato-regular"), local("lato-regular"),
    url("lato-regular.eot") format("eot"), url("lato-regular.otf") format("otf"),
    url("lato-regular.woff") format("woff"),
    url("lato-regular.woff2") format("woff2"),
    url("lato-regular.ttf") format("truetype");
  font-weight: 400;
}
